<footer class="site-footer h-card">

  <div class="wrapper">
    
    <div class="footer-heading" alt="{{ site.title }}">
			{% include invasion_colchester_wordmark.svg %}
		</div>
    
    <div class="social">
      {% include icon-facebook.html %}
      {% include icon-twitter.html %}
      {% include icon-instagram.html %}      
    </div>
		<small>
		  <p>
				<a href="/privacy-policy/" alt="Privacy Policy">Privacy Policy</a> | 
          {% if page.layout == 'home' %}
            <a class="page-link scroll" href="#contact">Contact</a>
          {% else %}
            <a class="page-link" href="{{ site.url }}/#contact">Contact</a>
          {% endif %}
		  </p><p>
				All planned items may be subject to change
			</p><p>
				&copy; <script type="text/javascript">
				  document.write(new Date().getFullYear());
				</script>, Invasion Colchester
			</p>
		</small>
		
    <a class="scroll" href="#top" alt="Back to the Top"><div class="arrow-up"></div></a>

  </div>

</footer>
