<div class="slider">
	<div class="slides">
		<div class="slide hero5">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Martin Ballantyne</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero1">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Brian Herring</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero2">
			<div class="text">
				<h3>Special Guests</h3>								
				<h4>Mike Quinn</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero3">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Clem So</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero4">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Chris Bunn</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero5">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Martin Ballantyne</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
		<div class="slide hero1">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Brian Herring</h4>
                <a href="/special-guests" class="button">See more</a>
			</div>
		</div>
	</div>
	<div class="dots">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
	</div>
</div>