<div class="slider">
	<div class="slides">
		<div class="slide hero1">
			<div class="text">
				<h3>Special Guests</h3>								
				<h4>Carl Newman</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero2">
			<div class="text">
				<h3>Special Guests</h3>								
				<h4>James Taylor</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero3">
			<div class="text">
				<h3>Special Guests</h3>								
				<h4>Barry Kitson</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero4">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Paul Warren</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero5">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Clem So</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero6">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Ty Hurley</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
		<div class="slide hero7">
			<div class="text">
				<h3>Special Guests</h3>
				<h4>Ross Sambridge</h4>
                <a href="/special-guests" class="button button-alt">See more</a>
			</div>
		</div>
	</div>
	<div class="dots">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
		<span class="dot" onclick="currentSlide(7)"></span>
	</div>
</div>