<div class="prefooter">
	<div class="wrapper">
		
	<p><small>SUPPORTED BY</small></p>

	<div class="sponsors">
		<span class="sponsor">
			<a href="https://acecomics.co.uk" class="spn_ace" rel="nofollow noopener noreferrer" target="_blank">
				<img class="spn_ace" src="/images/sponsors/SPONSOR_ACE.svg" alt="ACE Comics" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://www.colchester.gov.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_CCC.svg" alt="Colchester City Council" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://colchester-events.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_COL_EVENTS.svg" alt="Colchester Events" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://www.culversquare.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_CULVER.svg" alt="Culver Square Shopping" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://www.fenwick.co.uk/stores/colchester"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_FENWICK.svg" alt="Fenwick" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://incolchester.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_IN_COL.svg" alt="Our Colchester" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://lionwalkshopping.com/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_LW.svg" alt="Lion Walk / Red Lion Yard" />
			</a>
		</span>
		<span class="sponsor">
			<a href="https://www.essexhighways.org/getting-around/bus/park-and-ride/colchester-park-and-ride/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/SPONSOR_PKR.svg" alt="Park and Ride" />
			</a>
		</span>
	</div>
	
	</div>
</div>