<div class="prefooter">
	<div class="wrapper">
		
	<p><small>SUPPORTED BY</small></p>
	<ul class="list">
		<li class="sponsor">
			<a href="https://ourcolchester.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/our-colchester.jpg" alt="Our Colchester" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://acecomics.co.uk"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/ace-comics.png" alt="ACE Comics" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://www.culversquare.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/culver-square.png" alt="Culver Square Shopping" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://colchester-events.co.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/colchester-events.png" alt="Colchester Events" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://lionwalkshopping.com/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/lion-walk.png" alt="Lion Walk / Red Lion Yard" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://www.essexhighways.org/getting-around/bus/park-and-ride/colchester-park-and-ride/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/park-and-ride.svg" alt="Park and Ride" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://www.colchester.gov.uk/"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/colchester-council.png" alt="Colchester Borough Council" />
			</a>
		</li>
		<li class="sponsor">
			<a href="https://www.fenwick.co.uk/stores/colchester"rel="nofollow noopener noreferrer" target="_blank">
				<img src="/images/sponsors/fenwick.jpg" alt="Fenwick" />
			</a>
		</li>
	</ul>
	
	</div>
</div>