@import url("/assets/fonts/font.css");


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  overflow: auto!important;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1 {
  color: $white;
  font-family: $base-header-font-family;
  font-weight: normal;
  line-height: 0.8;
  margin-bottom: $spacing-unit*2.1;
  text-transform: uppercase;
}
h2, h3, h4, h5, h6 {
  font-family: $base-header-font-family-alt;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-unit*2.1;
}
h1 {
  @include relative-font-size(6);

  @include media-query($on-laptop) {
    @include relative-font-size(4);
  }
}

h2 {
  @include relative-font-size(3);

  @include media-query($on-laptop) {
    @include relative-font-size(2.5);
  }
}

h3 {
  @include relative-font-size(2.5);

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

h4 {
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(1.5);
  }
}

h5 {
  @include relative-font-size(1.5);

  @include media-query($on-laptop) {
    @include relative-font-size(1);
  }
}

h6 {
  @include relative-font-size(1);

  @include media-query($on-laptop) {
    @include relative-font-size(0.85);
  }
}



/**
 * Links
 */
a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:hover {
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}



/**
 * Custom Paragraphs
 */
.woodstamp {
  font-family: $base-header-font-family;

  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}
p.focus {
  font-weight: 700;
  text-transform: uppercase;
}



/**
 * Buttons
 */
button,
a.button,
button.button,
submit,
submitbutton,
input.button,
input[type=submit] {
  background: $blue23;
	border: none;
  border-radius: 100px;
  color: $white;
  font-family: $base-font-family;
  padding: ($spacing-unit * 1) ($spacing-unit * 2);
  text-decoration: none;
	text-transform: uppercase;
	width: initial;

  &:hover,
  &:focus {
    background: $navy23;
  }

  // &.overimage {
  //   border: 2px solid $brand-color-2;
  //   color: $brand-color-2;

  //   &:hover,
  //   &:focus {
  //     background: $link-color;
  //   }
  // }
}
.link-box {
	margin: $spacing-unit*4 $spacing-unit*2;
	
	a,span {
		border: 2px solid $brand-color;
		padding: $spacing-unit*2;
		
		&:visited {
			border-color: $brand-dark;
		}		
		&:hover {
			border-color: $brand-light;
		}
	}
}

/**
 * Smooth transitions
 */

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Container
 */

.container {
	border: 1px solid $white;
	padding: 30px;
	margin-bottom: 30px;
	@extend %clearfix;
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit*4;
  padding-left: $spacing-unit*4;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit*2;
    padding-left: $spacing-unit*2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $text-color;
  margin: $spacing-unit*4 auto;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: $spacing-unit;
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/**
 * Forms
 */

form {
	color: $grey;
	margin: ($spacing-unit * 2) 0;
	max-width: calc(100% - (#{$spacing-unit} * 4));
	
	p {
		font-size: 80%;
		margin-bottom: $spacing-unit*2;
	}
}
input,
textarea {
	font-family: $base-font-family;
	font-size: $base-font-size;
	border: 1px solid $grey;
	width: 100%;
	padding: $spacing-unit * 2;
	margin-bottom: $spacing-unit * 2;
	
	&[type=checkbox] {
		margin: 0 $spacing-unit 0 0;
		width: auto;
	}
}
textarea {
	min-height: $spacing-unit * 10;
}

/**
 * Lists
 */

ul.list {
	margin: 0;
	margin-top: $spacing-unit*3;
}
ul.list li {
	list-style: none;
	float: left;
	margin-bottom: $spacing-unit*3;
}

li.full {
	width: 100%;
}
li.half {
	width: 48.5%;
	margin-right: 3%;
	
	&:nth-child(2n+2) { margin-right: 0; }
	
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}
li.third {
	width: 31.3%;
	margin-right: 3%;
	
	&:nth-child(3n+3) { margin-right: 0; }
	
	@include media-query($on-laptop) {
		width: 48.5%;
		&:nth-child(3n+3) { margin-right: 3%; }
		&:nth-child(2n+2) { margin-right: 0; }
	}
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}
li.quarter {
	width: 22.7%;
	margin-right: 3%;
	
	&:nth-child(4n+4) { margin-right: 0; }
	
	@include media-query($on-laptop) {
		width: 48.5%;
		&:nth-child(3n+3) { margin-right: 3%; }
		&:nth-child(2n+2) { margin-right: 0; }
	}
	@include media-query($on-palm) {
		width: 100%;
		margin-right: 0;
	}
}
li.last {
	margin-right: 0;
}
li img {
	min-width:100%;
}


.deepsea {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005fad+0,002253+99 */
  background: #005fad; /* Old browsers */
  background: -moz-linear-gradient(top,  #005fad 0%, #002253 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #005fad 0%,#002253 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #005fad 0%,#002253 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fad', endColorstr='#002253',GradientType=0 ); /* IE6-9 */
}
.tequila {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f15f24+0,fff200+100 */
  background: #f15f24; /* Old browsers */
  background: -moz-linear-gradient(top,  #f15f24 0%, #fff200 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f15f24 0%,#fff200 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f15f24 0%,#fff200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15f24', endColorstr='#fff200',GradientType=0 ); /* IE6-9 */
}
.tequila-reverse {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff200+0,f15f24+100 */
  background: #fff200; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff200 0%, #f15f24 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fff200 0%,#f15f24 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fff200 0%,#f15f24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff200', endColorstr='#f15f24',GradientType=0 ); /* IE6-9 */

}
.gradient-text {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}