/* Blocks
==============================*/

.block {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
	.wrapper {
		padding: $spacing-unit*12 0;
		
		@include media-query($on-1040){
			padding: $spacing-unit*8 $spacing-unit*2;
		}
	}
	.block-left {
		float: left;
		width: 48%;
		
		@include media-query($on-800) {
			float: none;
			margin-bottom: $spacing-unit*4;
			width: 100%;
			
			img {
				max-height: 500px;
			}
		}
	}
	.block-right {
		float: right;
		width: 48%;
		
		@include media-query($on-800) {
			float: none;
			margin-bottom: $spacing-unit*4;
			width: 100%;
			
			img {
				max-height: 500px;
			}
		}
	}
	.title-card {
		padding: 0 0 $spacing-unit*4;
	}
}

/* Home Blocks
------------------------------*/

.intro {
	//background: $black;
	text-align: center;
	
	h2,h3 {
		font-family: 'Anton', sans-serif;
		line-height: 1.1;
		margin-bottom: $spacing-unit*2;
		text-align: center;
	}
	h2 {
		@include relative-font-size(3);

		@include media-query($on-laptop) {
		  @include relative-font-size(2);
		}
	}
	h3 {
		@include relative-font-size(2);

		@include media-query($on-laptop) {
		  @include relative-font-size(1.4);
		}
	}
	img {
		display: block;
		margin: 0 auto $spacing-unit*2;
	}
	.wrapper {
		padding-top: $spacing-unit*2;
		
		@include media-query($on-1200) {
			padding-top: 0;
		}
	}
}
.anni-header {
	color: $gold;
}

.charities {
	text-align: center;
	
	.charity-logos {
		margin: $spacing-unit*5 auto;
		max-width: 900px;
		@extend %clearfix;
			
		@include media-query($on-800){
			max-width: 400px;
			
			.block-left {
				margin-bottom: $spacing-unit*6;
			}
		}
		
		img {
			max-width: 90%;
			
			@include media-query($on-800){
				
			}
		}
	}
}

.dont-panic {
	background: #CC0000;
	
	img {
		margin-bottom: $spacing-unit*4;
	}
	a {
		color: yellow;
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.park-ride {
	background-color: $light-green;
	text-align: center;
	
	svg {
		display: block;
		margin: 0 auto $spacing-unit*4;
		max-width: 300px;
		width: 100%;
	}
	small {
		display: block;
	}
	table {
		border-color: $text-color;
		color: $text-color;

		th,td {
			background: none;
			border-color: $text-color;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.gallery {
	background-image: url('/images/backgrounds/20190801PG.jpg');
	color: $white;
	
	.wrapper {
		padding: $spacing-unit*16 0;
		
		@include media-query($on-1040){
			padding: $spacing-unit*8 $spacing-unit*2;
		}
	}
}

.guide {
	display: none;
	background-color: $brand-color;
	padding: $spacing-unit*4 0;
	text-align: center;
	
	@media only screen and (max-width:600px) {
		padding: $spacing-unit*4 0 0;
	}
	h2 {
		font-size: $spacing-unit*6;
		@include media-query($on-mobile) {
			font-size: $spacing-unit*5;
		}
	}
	.wrapper {
		margin: 0 auto;
		max-width: $content-width;
		padding: 0 $spacing-unit*2 $spacing-unit*4;
	}
	.guide-cards {
		display: block;
		@extend %clearfix;
		
		@media only screen and (max-width:600px) {
			display: none;
		}
		
		div {
			background-position: top;
			background-repeat: no-repeat;
		    background-size: contain;
			float: left;
			margin: 0;
			padding: 0;
			width: 20%;
		}
		.guide-card-01 {
			background-image: url('/images/guide/guide-card-01-a.png');
		}
		.guide-card-02 {
			background-image: url('/images/guide/guide-card-02-a.png');
		}
		.guide-card-03 {
			background-image: url('/images/guide/guide-card-03-a.png');
		}
		.guide-card-04 {
			background-image: url('/images/guide/guide-card-04-a.png');
		}
		.guide-card-05 {
			background-image: url('/images/guide/guide-card-05-a.png');
		}
		a:hover,
		a:focus {
			opacity: 0;
		}
	}
	.guide-cards-small {
		display: none;
		
		@media only screen and (max-width:600px) {
			display: block;
		}
		
		div {
			background-position: top;
			background-repeat: no-repeat;
		    background-size: contain;
			margin: 0;
			padding: 0;
			width: 100%;
			
			img {
				margin-bottom: 0;
			}
		}
		.guide-card-01 {
			background-image: url('/images/guide/guide-card-small-01-a.png');
		}
		.guide-card-02 {
			background-image: url('/images/guide/guide-card-small-02-a.png');
		}
		.guide-card-03 {
			background-image: url('/images/guide/guide-card-small-03-a.png');
		}
		.guide-card-04 {
			background-image: url('/images/guide/guide-card-small-04-a.png');
		}
		.guide-card-05 {
			background-image: url('/images/guide/guide-card-small-05-a.png');
		}
		a:hover,
		a:focus {
			opacity: 0;
		}
	}
}

//.meet-heroes {
//	background-color: $black;
//	color: $white;
//	
//	img {		
//		&.lead-image {
//		max-width: 100vw;
//		width: 100vw;
//		}
//	}
//	ul li img {
//		border: 1px solid;
//	}
//	.wrapper {
//		margin-top: -400px;
//		padding-top: 0;
//		position: relative;
//		z-index: 1;
//		
//		@include media-query($on-1000) {
//			margin-top: -300px;			
//		}
//		@include media-query($on-700) {
//			margin-top: -200px;		
//		}
//		@include media-query($on-500) {
//			margin-top: -100px;	
//		}
//		@include media-query($on-300) {
//			margin-top: -50px;		
//		}
//	}
//}

.meet-heroes {
	background-image: url('/images/backgrounds/20190801DS.jpg');
	background-position: top;
	color: $white;
	
	.wrapper {
		padding: $spacing-unit*40 $spacing-unit*2 $spacing-unit*6;
		
		@include media-query($on-1000) {
			padding-top: $spacing-unit*20;		
		}
	}
	ul {
		display: none;
	}
	
	@include media-query($on-700) {
		background-image: url('/images/backgrounds/20190801DS2.jpg');
	}
	@include media-query($on-400) {
		background-image: url('/images/backgrounds/20190801DS3.jpg');
	}
}

.guests {
	background-image: url('/images/social/20190801SG.jpg');
	background-position: top;
	color: $white;
	
	a {
		color: $white;
		
		&:hover,
		&:focus {
			color: $link-hover;
		}
	}
	
	.wrapper {
		padding: $spacing-unit*50 $spacing-unit*2 $spacing-unit*2;
		
		@include media-query($on-1000) {
			padding-top: $spacing-unit*30;		
		}
		@include media-query($on-800) {
			padding-top: $spacing-unit*20;
			padding-bottom: 0;
		}
		@include media-query($on-500) {
			padding-top: $spacing-unit*10;
		}
	}
}

.show-cars {
	background-color: #0d1720;
	color: $white;
	
	img {
		min-width: -webkit-fill-available;
	}
	.wrapper {
		padding-bottom: 0;
		
		@include media-query($on-1040){
		}
	}
}

.map {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#939598+0,131313+100 */
	background: #939598; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #939598 0%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #939598 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #939598 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: $white;
	text-align: center;
	
	img {
		display: block;
		margin: $spacing-unit*4 auto;
	}
}

.contact {
	background-color: $black;
	color: $white;
	
	img {
		display: block;
		max-width: 400px;
		margin: 0 auto $spacing-unit*4;
		width: -webkit-fill-available;
	}
	h2 {
		text-align: center;
	}
	p {
		margin: 0 auto;
		max-width: 600px;
	}
	a {
		color: $white;
		text-decoration: underline;
		
		&:hover,
		&:focus {
			color: $white;
			text-decoration: none;
		}
	}
	#contact-form {
		color: $white;
		margin: $spacing-unit*4 auto 0;
		max-width: 600px;
		width: calc(100% - 40px);
		
		input, textarea {
			background-color: $black;
			border: none;
			border-bottom: 1px solid $white;
			color: $white;
			max-width: calc(100% - 40px);
			
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $white;
				opacity: 1; /* Firefox */
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $white;
			}
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: $white;
			}
		}
		input[type="submit"]{
			border: 2px solid $link-color;
			border-radius: 100px;
			color: $link-color;
			margin: $spacing-unit*4 0 0;
			
			&:hover,
			&:focus {
				background: $brand-color-3;
			}
		}
	}
}

.live {
	background-image: url('/images/backgrounds/20190801LM.jpg');
	color: $white;
	
	table {
		border-color: $white;
		color: $white;
		margin: $spacing-unit*4 0;

		th,td {
			background: none;
			border-color: $white;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.firstsite {
	background-color: $green;
	text-align: center;
	
	//.movie-1 {
	//	display: block;
	//	
	//	@include media-query($on-600) {
	//		display: none;
	//	}
	//}
	h3,h4 {
		height: 0;
		margin: 0;
		opacity: 0;
		padding: 0;
	}
	
	//.movie-2 {
	//	display: none;
	//	
	//	@include media-query($on-600) {
	//		display: block;
	//	}
	//}
	.wrapper {
		padding-top: 0;
	}
}

.fancy-dress {
	background-color: $green;
	
	table {
		border-color: $text-color;
		color: $text-color;
		margin: $spacing-unit*4 0;

		th,td {
			background: none;
			border-color: $text-color;
			color: $text-color;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.justgiving {
	background-color: #ac29b5;
	color: $white;
	text-align: center;
	
	.wrapper div {
		margin-bottom: $spacing-unit*6;
	}
	li img {
		box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
		
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
}

.lightsaber-training {
	color: $light-green;
	
}

.othermonkey {
	background-image: url('/images/backgrounds/beer-base.jpg');
	background-attachment: fixed;
	background-size: cover;

	img {
		display: block;
		margin: 0 auto 60px;
		max-width: 400px;
	}
}

.prize-draw {
	color: #BDD530;
	
	table {
		border-color: $green;
		color: $green;
		margin: $spacing-unit*4 0;

		th,td {
			background: none;
			border-color: $green;
			color: $green;
		}			
		tr:nth-child(even) {
			background: none;
		}
	}
	li {
		margin-bottom: $spacing-unit;
	}
}



.poster-print {
	background-color: $light-green;
	
	img {
		display: block;
		box-shadow: -10px 10px 10px rgba(0,0,0,0.3);
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
		transform: rotate(-5deg);
		margin: 0 auto;
		max-width: 60%;
		width: 100%;
		
		@include media-query($on-800) {
			max-width: 240px;
		}
	}
}
