/* Blocks
==============================*/

.block {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
	.wrapper {
		padding-top: $spacing-unit*12;
		padding-bottom: $spacing-unit*12;
		
		
		@include media-query($on-1040){
			padding-top: $spacing-unit*8;
			padding-bottom: $spacing-unit*8;
		}
	}
	.block-left {
		float: left;
		width: 48%;
		
		@include media-query($on-800) {
			float: none;
			margin-bottom: $spacing-unit*4;
			width: 100%;
			
			img {
				max-height: 500px;
			}
		}
	}
	.block-right {
		float: right;
		width: 48%;
		
		@include media-query($on-800) {
			float: none;
			margin-bottom: $spacing-unit*4;
			width: 100%;
			
			img {
				max-height: 500px;
			}
		}
	}
	.title-card {
		padding: 0 0 $spacing-unit*4;
	}
}

.dark-bg {
	color: $text-color-light;

	a {
		color: $link-color-light;

		&:visited {
		  color: $link-color-light;
		}
	}
}

.light-bg {
	color: $text-color;

	a {
		color: $link-color;
	}
}

/* Home Blocks
------------------------------*/

.charities {
	text-align: center;
	
	.charity-logos {
		margin: $spacing-unit*5 auto;
		max-width: 900px;
		@extend %clearfix;
			
		@include media-query($on-800){
			max-width: 400px;
			
			.block-left {
				margin-bottom: $spacing-unit*6;
			}
		}
		
		img {
			max-width: 90%;
			
			@include media-query($on-800){
				
			}
		}
	}
}

.coming-soon {
}

.contact {
	background-color: $orange23;
	
	img {
		display: block;
		max-width: 400px;
		margin: 0 auto $spacing-unit*4;
		width: -webkit-fill-available;
	}
	h2 {
		text-align: center;
	}
	p {
		margin: 0 auto;
		max-width: 600px;
	}
	#contact-form {
		color: $white;
		margin: $spacing-unit*4 auto 0;
		max-width: 600px;
		width: 100%;

		label {
			display: block;
			font-size: 0.8em;
			margin-bottom: $spacing-unit/2;
		}
		
		input, textarea {
			background: none;
			border: 1px solid $white;
			border-radius: $spacing-unit;
			color: $white;
			max-width: calc(100% - 40px);
			
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $white;
				opacity: 1; /* Firefox */
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $white;
			}
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: $white;
			}
		}
		input[type="submit"]{
			background: $blue23;
			border: none;
			border-radius: 100px;
			color: $white;
			margin: $spacing-unit*4 0 0;
			
			&:hover,
			&:focus {
				background: $navy23;
			}
		}
	}
}

.dont-panic {
	background: #CC0000;
	
	img {
		margin-bottom: $spacing-unit*4;
	}
}

.fancy-dress {
	background-color: $blue23;
	
	h2 {
		text-align: center;
		color: $yellow23;
	}
	img {
		display: block;
		margin: 0 auto 40px;
		max-height: 600px;
		width: 100%;
	}
	
	table {
		border-color: $yellow23;
		color: $yellow23;
		margin: 0 0 $spacing-unit*4;

		th,td {
			background: none;
			border-color: $yellow23;
			color: $yellow23;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.firstsite {
	background-color: $green;
	text-align: center;
	
	h3,h4 {
		height: 0;
		margin: 0;
		opacity: 0;
		padding: 0;
	}
	.wrapper {
		padding-top: 0;
	}
}

.gallery {
	background-image: url('/images/backgrounds/20190801PG.jpg');
    background-attachment: fixed;

	a {
		color: $white;

		&:hover,
		&:visited {
			color: $white;
		}
	}
	
	.wrapper {
		padding: $spacing-unit*16 0;
		
		@include media-query($on-1040){
			padding: $spacing-unit*8 $spacing-unit*2;
		}
	}
	@include media-query($on-600){
		background-attachment: initial;
	}

}

.guests {
	background-image: url('/images/social/20190801SG.jpg');
	background-position: top;
	color: $yellow23;
	
	a {
		color: $yellow23;
		text-decoration: none;
		
		&:hover,
		&:focus {
			color: $white;
		}
	}
	
	.wrapper {
		padding: $spacing-unit*50 $spacing-unit*2 $spacing-unit*2;
		
		@include media-query($on-1000) {
			padding-top: $spacing-unit*30;		
		}
		@include media-query($on-800) {
			padding-top: $spacing-unit*20;
			padding-bottom: 0;
		}
		@include media-query($on-500) {
			padding-top: $spacing-unit*10;
		}
	}
}

.guide {
	background-image: url('/images/backgrounds/high-street.jpg');
    background-attachment: fixed;
}

.intro {
	text-align: center;
	
	h1,h2,h3 {
		color: $navy23;
	}
	.deets p {
		color: $navy23;
		font-weight: 700;
	}
	h2 {
		
		@include media-query($on-laptop) {
		  @include relative-font-size(2);
		}
	  }
	h5 {
		margin: 0 auto $spacing-unit*6;
		max-width: $spacing-unit*86;
	}
	img {
		display: block;
		margin: 0 auto $spacing-unit*2;
	}
	.wrapper {
		padding-top: $spacing-unit*2;
		
		@include media-query($on-1200) {
			padding-top: 0;
		}
	}
}

.justgiving {
	background-color: #ac29b5;
	text-align: center;
	
	.wrapper div {
		margin-bottom: $spacing-unit*6;
	}
	li img {
		box-shadow: 0px 5px 10px rgba(0,0,0,0.7);
		
		&:hover,
		&:focus {
			box-shadow: none;
		}
	}
}

.live {
	background-image: url('/images/backgrounds/live-backgroun-23.jpg');
    background-attachment: fixed;
	
	table {
		border-color: $yellow23;
		color: $yellow23;
		margin: $spacing-unit*4 0;

		th,td {
			background: none;
			border-color: $yellow23;
			color: $yellow23;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.map {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#939598+0,131313+100 */
	background: #939598; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #939598 0%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #939598 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #939598 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	text-align: center;
	
	img {
		display: block;
		margin: $spacing-unit*4 auto;
	}
}

.meet-heroes {
	background-image: url('/images/backgrounds/20190801DS.jpg');
	background-position: top;
	
	.wrapper {
		padding: $spacing-unit*40 $spacing-unit*2 $spacing-unit*6;
		
		@include media-query($on-1000) {
			padding-top: $spacing-unit*20;		
		}
	}
	ul {
		display: none;
	}
	
	@include media-query($on-700) {
		background-image: url('/images/backgrounds/20190801DS2.jpg');
	}
	@include media-query($on-400) {
		background-image: url('/images/backgrounds/20190801DS3.jpg');
	}
}

.othermonkey {
	background-color: $orange23;

	img {
		display: block;
		margin: 0 auto 60px;
		max-width: 400px;
	}
}

.park-ride {
	background-color: $yellow23;
	text-align: center;
	
	svg {
		display: block;
		margin: 0 auto $spacing-unit*4;
		max-width: 300px;
		width: 100%;
	}
	small {
		display: block;
	}
	table {
		border-color: $text-color;
		color: $text-color;

		th,td {
			background: none;
			border-color: $text-color;
		}
		tr:nth-child(even) {
			background: none;
		}
	}
}

.poster-print {
	background-color: $light-green;
	
	img {
		display: block;
		box-shadow: -10px 10px 10px rgba(0,0,0,0.3);
		-ms-transform: rotate(-5deg); /* IE 9 */
		-webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
		transform: rotate(-5deg);
		margin: 0 auto;
		max-width: 60%;
		width: 100%;
		
		@include media-query($on-800) {
			max-width: 240px;
		}
	}
}

.prize-draw {
	
	table {
		border-color: $green;
		color: $green;
		margin: $spacing-unit*4 0;

		th,td {
			background: none;
			border-color: $green;
			color: $green;
		}			
		tr:nth-child(even) {
			background: none;
		}
	}
	li {
		margin-bottom: $spacing-unit;
	}
}

.show-cars {
	background-color: $navy23;
	color: $yellow23;
}

.total {

	h2,p.total {
		text-align: center;
	}
	p.total {
		color: $yellow23;
		font-size: 15vw;
		font-weight: 900;
	}
}
