/* _sass/invasion/_blocks.scss */
@use "invasion/prelude" as *;

/* Blocks
==============================*/

.block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  .wrapper {
    padding-top: $spacing-unit*12;
    padding-bottom: $spacing-unit*12;

    @include media-query($on-1040){
      padding-top: $spacing-unit*8;
      padding-bottom: $spacing-unit*8;
    }
  }

  .wrapper-A { padding-bottom: 0; }
  .wrapper-B { padding-top: 0; }

  .block-left {
    float: left;
    width: 48%;

    @include media-query($on-800) {
      float: none;
      margin-bottom: $spacing-unit*4;
      width: 100%;

      img { max-height: 500px; }
    }
  }
  .block-right {
    float: right;
    width: 48%;

    @include media-query($on-800) {
      float: none;
      margin-bottom: $spacing-unit*4;
      width: 100%;

      img { max-height: 500px; }
    }
  }
  .title-card { padding: 0 0 $spacing-unit*4; }
}

.dark-bg { color: $white; }

.light-bg {
  color: $black;

  a {
    color: $primary;

    &:hover,&:focus { color: $black; }
    &:visited { color: $primary; }
  }
}

/* Home Blocks
------------------------------*/

.auction {
  background-color: $secondary;
  background-image: url(/images/backgrounds/atc-auction-base-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $on-secondary;
  text-align: center;
  padding: $spacing-unit * 8;
  width: auto;

  img {
    display: block;
    margin: 0 auto 60px;
    max-width: 400px;
  }

  a {
    color: $on-secondary-link;
    text-decoration: none;

    &:hover,&:focus { color: $on-secondary; }
  }
}

.batman-at-the-castle {
  position: relative;
  background: linear-gradient(to bottom, $purple-300 0%, $purple-300 59.999999999999%, $purple-500 60%, $purple-300 100%);
  color: $on-secondary;
  text-align: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 60%;
    background-image: url('/assets/svg/oh-bats.svg');
    background-repeat: repeat;
    background-position: top left;
    background-size: $spacing-unit * 16;
    z-index: 0;

    @include media-query($on-800){ height: 40%; }
    @include media-query($on-400){ height: 30%; }
  }

  .wrapper {
    padding-top: $spacing-unit*6;
    padding-bottom: $spacing-unit*6;
  }

  > .wrapper, h2, h4, a, .small { position: relative; z-index: 1; }

  h2 { line-height: 1; margin-bottom: 0; }
  h4 { line-height: 1; }

  a { display: inline-block; }

  .small {
    font-size: 0.8em;
    margin-top: 40px;
  }

  @include media-query($on-800){
    background: linear-gradient(to bottom, $purple-300 0%, $purple-300 39.999999999999%, $purple-500 40%, $purple-300 100%);
  }
  @include media-query($on-400){
    background: linear-gradient(to bottom, $purple-300 0%, $purple-300 29.999999999999%, $purple-500 30%, $purple-300 100%);
  }
}

.charities {
  text-align: center;

  .charity-logos {
    margin: $spacing-unit*5 auto;
    max-width: 900px;
    @extend %clearfix;

    @include media-query($on-800){
      max-width: 400px;

      .block-left { margin-bottom: $spacing-unit*6; }
    }

    img { max-width: 90%; }
  }
}

.city-divider {
  background-image: url(/assets/svg/col-skyline-25-black.svg);
  background-repeat: repeat-x;
  background-size: 520px 60px;
  height: 60px;
  margin-bottom: -1px;
}

.contact {
  a {
    color: $secondary;
    text-decoration: none;

    &:hover,&:focus { color: $on-primary; }
  }
  img {
    display: block;
    max-width: 400px;
    margin: 0 auto $spacing-unit*4;
    width: -webkit-fill-available;
  }
  h2 {
    color: $secondary;
    text-align: center;
  }
  p {
    color: $on-primary;
    margin: 0 auto;
    max-width: 600px;
  }
  #contact-form {
    color: $on-primary;
    margin: $spacing-unit*4 auto 0;
    max-width: 600px;
    width: 100%;

    label {
      display: block;
      font-size: 0.8em;
      margin-bottom: half($spacing-unit);
    }

    input, textarea {
      background: $primary;
      border: 1px solid $white;
      border-radius: $spacing-unit;
      color: $white;
      max-width: calc(100% - 40px);

      &::placeholder { color: $on-primary; opacity: 1; }
      &:-ms-input-placeholder { color: $on-primary; }
      &::-ms-input-placeholder { color: $on-primary; }
    }
    input[type="submit"]{
      background: $secondary;
      border: none;
      border-radius: 0;
      box-shadow: 7px 7px 0 rgba(0,0,0,0.3);
      color: $white;
      font-family: $base-font-family;
      padding: ($spacing-unit * 1) ($spacing-unit * 2);
      text-decoration: none;
      text-transform: uppercase;
      width: initial;
      margin: $spacing-unit*4 0 0;

      &:hover,
      &:focus { background: $black; }
    }
  }

  @include media-query($on-800) {
    background-size: 800px;
    background-position: left -400px top -400px, right -400px bottom -400px;
  }
  @include media-query($on-600) {
    background-size: 600px;
    background-position: left -300px top -300px, right -300px bottom -300px;
  }
  @include media-query($on-400) {
    background-size: 400px;
    background-position: left -200px top -200px, right -200px bottom -200px;
  }
}

.dont-panic {
  background-color: $primary;
  background-image: url(/assets/svg/blast-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $on-primary;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: 700;
  }
  p { 
  color: $on-primary; }
  img { margin-bottom: $spacing-unit*4; }
}

.fancy-dress {
  background-color: $primary;
  background-image: url(/assets/svg/cirlces-light.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $on-secondary;

  @include media-query($on-800) {
    background-size: 800px;
    background-position: left -400px top -400px, right -400px bottom -400px;
  }
  @include media-query($on-600) {
    background-size: 600px;
    background-position: left -300px top -300px, right -300px bottom -300px;
  }
  @include media-query($on-400) {
    background-size: 400px;
    background-position: left -200px top -200px, right -200px bottom -200px;
  }

  a {
    color: $secondary;
    text-decoration: none;

    &:hover,&:focus { color: $on-primary; }
  }
  h2 {
    text-align: center;
    color: $on-primary;
    margin-bottom: 0;
  }
  h5 {
    color: $on-primary;
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit*2;
  }
  p { color: $on-primary; }

  .fd-slider { margin-top: -20px; }

  .fd-image-row {
    display: flex;
    gap: 60px;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
    overflow: hidden;

    @include media-query($on-800) { gap: 20px; }
    @include media-query($on-600) { gap: 10px; }
  }

  .fd-image {
    width:200px;
    height: 400px;
    object-fit: contain;
    display: block;

    @include media-query($on-800) { width: 150px; height: 300px; }
    @include media-query($on-600) { width: 100px; height: 200px; }
    @include media-query($on-400) { width: 75px;  height: 150px; }
  }

  .fd-left  { transform: translateX(-100vw); transition: transform 1s ease-out; }
  .fd-right { transform: translateX(100vw);  transition: transform 1s ease-out; }

  .fd-scrolled .fd-left   { transform: translateX(0); }
  .fd-scrolled .fd-right  { transform: translateX(0); }
  .fd-scrolled .fd-center { transform: translateY(0); }
  .fd-scrolled .fd-image-row { opacity: 1; transform: translateY(0); }

  table {
    border-color: $on-primary;
    color: $on-primary;
    margin: 0 0 $spacing-unit*4;

    th,td {
      background: none;
      border-color: $on-primary;
      color: $on-primary;
    }
    tr:nth-child(even) { background: none; }
  }
}

.firstsite {
  background-color: $primary;
  color: $on-primary;
  text-align: center;

  h3,h4 { height: 0; margin: 0; opacity: 0; padding: 0; }
  .wrapper { padding-top: 0; }
}

.guests {
  background-image: url('/images/social/20190801SG.jpg');
  background-position: top;
  color: $secondary;

  a {
    color: $secondary;
    text-decoration: none;

    &:hover,&:focus { color: $white; }
  }

  .wrapper {
    padding: $spacing-unit*50 $spacing-unit*2 $spacing-unit*2;

    @include media-query($on-1000) { padding-top: $spacing-unit*30; }
    @include media-query($on-800)  { padding-top: $spacing-unit*20; padding-bottom: 0; }
    @include media-query($on-500)  { padding-top: $spacing-unit*10; }
  }
}

.guide {
  text-align: center;

  h3 { margin-bottom: $spacing-unit*4; }
  h4 { margin-bottom: 0; }
  h5 { margin-bottom: 12px }
  p  { margin-bottom: 18px }

  a,a.visited {
    font-weight: 700;
    text-decoration: none;

    &.hover,&.visited {
      text-decoration: none;
    }
  }
}

.scroll-background-section {
  position: relative;
  height: 200vh;
  overflow: hidden;

  .background-container {
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: url('/assets/svg/deadpool-footer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    padding: 4rem;
  }
}

.intro {
  background-color: $secondary;
  background-image: url(/assets/svg/halftone-dark.svg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: $spacing-unit*1.2;
  color: $on-secondary;
  text-align: center;
  padding-top: $spacing-unit*12;

  a {
    color: $on-secondary-link;
    text-decoration: none;

    &:hover,&:focus { color: $on-secondary-link-hover; }
  }
  .deets p { font-weight: 700; }
  h2 {
    @include media-query($on-laptop) { @include relative-font-size(2); }
  }
  h5 {
    font-size: unquote("clamp(2rem, 3vw, 4rem)");
  }
  img {
    display: block;
    margin: 0 auto $spacing-unit*2;
    max-width: 50vw;
  }
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.justgiving {
  background-color: $primary;
  text-align: center;

  .wrapper div { margin-bottom: $spacing-unit*6; }
  li img {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.7);

    &:hover,&:focus { box-shadow: none; }
  }
}

.live {
  background-color: $secondary;
  background-image: url(/assets/svg/halftone-dark.svg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: $spacing-unit*1.2;
  color: $on-secondary;

  h2, p {
    text-align: center;
  }

  .live-guitar {
    display: block;
    margin: 0 auto $spacing-unit*4;
    max-width: 300px;
    width: 100%;
    transform: rotate(-15deg);
  }

  .container .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .performers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-top: $spacing-unit*4;

    .container.performer {
      background: $secondary;
      padding: 30px;
      width: calc(22% - 60px);

      h4,h5 {
        color: $on-secondary;
        margin-bottom: 0;
        text-align: center;
        line-height: 1;
      }
      h4 {
        margin-bottom: $spacing-unit;
      }

      .performer-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        clip-path: polygon(0% 0%, 99% 1%, 98% 99%, 1% 100%);
        margin-bottom: $spacing-unit*2;
      }

      .performer-01 {
        background-image: url(/images/live/TJT-01.jpg);
      }
      .performer-02 {
        background-image: url(/images/live/JW-01.jpg);
      }
      .performer-03 {
        background-image: url(/images/live/JC-01.jpg);
        background-position: top center;
      }
      .performer-04 {
        background-image: url(/images/live/FM-01.jpg);
      }
      .performer-05 {
        background-image: url(/images/live/TBS-01.jpg);
      }

      @include media-query($on-1200) {
        width: calc(48% - 60px);
      }
      @include media-query($on-600) {
        width: 100%;
      }
    }
  }

  .performers-full {
    margin-top: 0;

    .container.performer-full {
        width: 100%;
      }
  }
}

.map {
  background: #939598;
  background: -moz-linear-gradient(-45deg,  #939598 0%, #131313 100%);
  background: -webkit-linear-gradient(-45deg,  #939598 0%,#131313 100%);
  background: linear-gradient(135deg,  #939598 0%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939598', endColorstr='#131313',GradientType=1 );
  text-align: center;

  img {
    display: block;
    margin: $spacing-unit*4 auto;
  }
}

.meet-heroes {
  background-image: url('/images/backgrounds/20190801DS.jpg');
  background-position: top;

  .wrapper {
    padding: $spacing-unit*40 $spacing-unit*2 $spacing-unit*6;

    @include media-query($on-1000) { padding-top: $spacing-unit*20; }
  }
  ul { display: none; }

  @include media-query($on-700) { background-image: url('/images/backgrounds/20190801DS2.jpg'); }
  @include media-query($on-400) { background-image: url('/images/backgrounds/20190801DS3.jpg'); }
}

.othermonkey {
  background-color: $secondary;
  background-image: url(/assets/svg/diamonds-dark.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: $spacing-unit*4;
  background-attachment: fixed;
  background-image: url(/images/backgrounds/HOOK+LADDER-PROMO-BASE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $on-secondary;
  text-align: center;

  img {
    display: block;
    margin: 0 auto 60px;
    max-width: 400px;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover,&:focus { color: $on-secondary; }
  }
}

.park-ride {
  background-color: $secondary;
  background-image: url(/assets/svg/squares-dark.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: $spacing-unit*40;
  background-attachment: fixed;
  color: $on-secondary;
  text-align: center;

  a,a:visited {
    color: $on-secondary-link;
    font-weight: 600;
    text-decoration: none;

    &:hover,&:focus {
      color: $on-secondary-link-hover;
    }
  }
  svg {
    display: block;
    margin-bottom: $spacing-unit*4;
    max-width: 300px;
    width: 100%;

    path { fill: $tertiary; }
  }
  small {
    color: $on-secondary;
    display: block;
  }
  table {
    border-color: $on-secondary;
    color: $on-secondary;

    th,td { background: none; border-color: $on-secondary; }
    tr:nth-child(even) { background: none; }
  }
  .wrapper { overflow: hidden; }
}

.bus-ride {
  overflow: hidden;
  position: relative;

  .bus-icon {
    display: inline-block;
    transition: transform 0.1s linear;
    transform: translateX(100%);
    will-change: transform;
  }
}

.photo-gallery {
  background-image: url('/images/backgrounds/20190801PG.jpg');
  background-attachment: fixed;

  h2 { color: $white; }
  .wrapper {
    padding: $spacing-unit*16 0;

    @include media-query($on-1040){ padding: $spacing-unit*8 $spacing-unit*2; }
  }
  @include media-query($on-600){ background-attachment: initial; }
}

.poster-print {
  background-color: $primary;

  img {
    display: block;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.3);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin: 0 auto;
    max-width: 60%;
    width: 100%;

    @include media-query($on-800) { max-width: 240px; }
  }
}

.prize-draw {
  background-color: $secondary;
  background-image: url(/assets/svg/squares-dark.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: $spacing-unit*40;
  background-attachment: fixed;
  color: $on-secondary;
  text-align: center;

  svg {
    width: 66vw;
    max-width: $spacing-unit*60;
    padding: $spacing-unit*3 $spacing-unit*2;
  }
  ul {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    &.prize-list {
      height: 70vh;

      @include media-query($on-800) {
        flex-wrap: nowrap;
        height: auto;
      }
    }
    &.prize-winners {
      height: 30vh;

      @include media-query($on-600) {
        height: 40vh;
      }

      @include media-query($on-400) {
        height: 80vh;
      }
    }

    li {
      .prize { font-size: 1.6em; font-weight: 700; }
      .donor {
        display: block;
        font-size: initial;

        span { display: inline; font-weight: 700; }
      }
    }
  }
  a,a:visited {
    color: $on-secondary-link;
    text-decoration: none;

    &:hover,&:focus { color: $on-secondary-link-hover; }
  }
  table {
    border-color: $primary;
    color: $primary;
    margin: $spacing-unit*4 0;

    th,td { background: none; border-color: $primary; color: $primary; }
    tr:nth-child(even) { background: none; }
  }
  li { margin-bottom: $spacing-unit; }
}

.road-intro {
  background-color: $primary;
  background-image: url(/assets/svg/road-pattern-intro.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 107.5px;
}

.road-repeat {
  background-color: $primary;
  background-image: url(/assets/svg/road-pattern.svg);
  background-repeat: repeat-y;
  background-size: 340px auto;
  background-position: center top;
  width: 100%;
}

.show-cars {
  background-color: $primary;
  background-image: url(/assets/svg/blast-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $on-primary;
  text-align: center;

  h2 { color: $on-primary; }

  .show-car-slider-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
  }

  .show-car-slider-image-container {
    position: relative;
    width: 400px;
    height: 240px;
    margin: 0 20px;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;
  }

  .show-car-slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include media-query($on-600) {
    .show-car-slider-image-container { height: 180px; }
    .final-show-car { display: none; }
  }
}

.total-container {
  background-color: $primary;
  background-image: url(/assets/svg/cirlces-light.svg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 50vw;

  h2,p { color: $on-primary; text-align: center; }
  p.total {
    color: $white;
    font-size: 15vw;
    font-weight: 900;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}

/* Patterns */
.pattern-25-primary-alt {
  background-image: url('/assets/svg/pattern-25-primary-alt.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 200px;
}
.pattern-25-secondary-alt {
  background-image: url('/assets/svg/pattern-25-secondary-alt.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 200px;
}
