/**
 * Site footer
 */

.prefooter {
	background: $prefooter-color;
	color: $white;
	border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
	
	.wrapper {
		max-width: $on-1000;
		margin: $spacing-unit*2 auto;
	    line-height: 1.2;
		text-align: center;
		@extend %clearfix;
		
		div {
			padding: 0;
		}
		@include media-query($on-900) {
			max-width: $on-500;
		}
		@include media-query($on-500) {
			max-width: $on-300;
		}
		@include media-query($on-300) {
			max-width: $on-200;
		}
		li.sponsor {
			width: 10.5%;
			margin: 0 1%;
			
			@include media-query($on-900) {
				width: 21%;
				margin: 5px 2%;
				
				/*&:nth-last-child(1) {
					float: none;
					margin: 0 auto;
				}*/
			}
			@include media-query($on-500) {
				width: 30%;
				margin: 5px 1.5%;
			}
			@include media-query($on-300) {
				width: 46%;
				margin: 5px 2%;
			}
		}
	}
}



.site-footer {
	background: $footer-color;
	color: $white;
	padding: ($spacing-unit*4) 0;
	text-align: center;
	
	img {
		width: calc(100% - (#{$spacing-unit}*4));
		max-width: $spacing-unit*40;
		padding: 0 ($spacing-unit*2);
	}
	a,a:visited {
		color: $white;
		text-decoration: none;
	}
	a:hover {
		color: $yellow23;
		text-decoration: none;
	}
	.social {
		margin: $spacing-unit*4 auto;
		
		.fa {
			font-size: -webkit-xxx-large;
		   padding: 0 10px;
		}
	}
}

.footer-heading {
    margin: $spacing-unit*4 auto $spacing-unit/2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey;
    margin-left: $spacing-unit/2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit/2;
    padding-left: $spacing-unit/2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}