.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: calc(33.333% - 20px);
    padding-top: 33.333%;
    clip-path: polygon(0% 0%, 99% 1%, 98% 99%, 1% 100%);
}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 600px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
        width: calc(50% - 20px);
        padding-top: 50%;
    }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.scrim {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    color: white;
    z-index: 1001;
    background-color: $primary;
    padding: $spacing-unit*2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    clip-path: polygon(0% 0%, 99% 1%, 98% 99%, 1% 100%);
}

.lightbox-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 60vh;
    clip-path: polygon(0% 0%, 99% 1%, 98% 99%, 1% 100%);
}

.lightbox-description {
    margin-top: 15px;
    font-size: 18px;
    color: white;
}

.close {
    background-color: $primary;
    position: absolute;
    top: 0;
    right: 0;
    color: $secondary;
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    z-index: 1002;
}

.prev, .next {
    background-color: $primary;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $secondary;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    user-select: none;
    z-index: 1002;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
