<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include preheader.html -%}
    {%- include header.html -%}

    <main class="page-content{% if page.pageclass %} {{ page.pageclass }}{% endif %}" aria-label="Content">
        {{ content }}
    </main>

    {%- include prefooter.html -%}
    {%- include footer.html -%}
    
    {%- if page.layout == 'home' -%}

	<!-- <script src="/js/counter/counter.js"></script> -->
	<script src="/js/fd-slider/fd-slider.js"></script>
	<script src="/js/guestslider/slider.js"></script>
	<script src="/js/car-slider/car-slider.js"></script>
	<script src="/js/bus-slider/bus-slider.js"></script>
		
	{%- endif -%}
    
    {%- if page.lightbox -%}

	<script src="/js/lightbox/lightbox.js"></script>
	<script src="/js/jquery.lazyload/jquery.lazyload.js"></script>
	<script>
		$(function() {
			$("img.lazy").lazyload({
				effect: "fadeIn"
			});
			$("img.lazy").css({
				display: 'block'
			});
		});
	</script>
		
	{%- endif -%}
		
	{%- if page.lightbox == 'gallery' -%}

	<script src="/js/random/random.js"></script>
	<script>
			$(function(){
  				$.oPageLoader({
    				backgroundColor: '#000',
    				fadeLevel: 1,
    				percentageColor: '#FFF000',
    				percentageFontSize: '20px',
    				progressBarColor: 'url("/media/SPINNING_SHIELD_26_500.gif") no-repeat right center',
    				progressBarHeight: 30,
    				progressBarFadeLevel: 1,
    				images: ['/media/SPINNING_SHIELD_26_500.gif']
  				});
			});
	</script>
		
	{%- endif -%}

  </body>

</html>
