---
layout: landing
---

<div class="home">

	{% include_relative banner.md %}

	<div class="block intro">
		<div class="wrapper">
			{% include_relative intro.md %}
		</div>
	</div>

	<div id="guide"></div>
	<div class="block guide">
		<div class="wrapper">
			{% include_relative section-guide.md %}
		</div>
	</div>

	<div id="fancy-dress"></div>
	<div class="block fancy-dress">
		{% include_relative section-fancy-dress.md %}
	</div>

	<div id="prize-draw"></div>
	<div class="block prize-draw">
		<div class="wrapper">
			{% include_relative section-prize-draw.md %}
		</div>
	</div>

	<div id="guests"></div>
	{% include guestslider.html %}

	<div id="live"></div>
	<div class="block live">
		<div class="wrapper">
			{% include_relative section-live.md %}
		</div>
	</div>

	<div id="show-cars"></div>
	<div class="block show-cars">
		{% include_relative section-cars.md %}
	</div>

	<div id="park-and-ride"></div>
	<div class="block park-ride">
		<div class="wrapper">
			{% include_relative section-park-and-ride.md %}
		</div>
	</div>

	<div id="gallery"></div>
	<div class="block photo-gallery">
		<div class="shade">
			<div class="wrapper">
				{% include_relative section-gallery.md %}
			</div>
		</div>
	</div>

	<div class="block dont-panic">
		<div class="wrapper">
			{% include_relative section-dont-panic.md %}
		</div>
	</div>

	<div id="batman-at-the-castle"></div>
	<div class="block batman-at-the-castle">
		<div class="wrapper">
			{% include_relative section-batman-at-the-castle.md %}
		</div>
	</div>

	<div id="total"></div>
	<div class="block total-container">
		<div class="wrapper">
			{% include_relative section-total.md %}
		</div>
	</div>

	<div id="contact"></div>
	<div class="block contact">
		<div class="wrapper">
			{% include_relative section-contact.md %}
		</div>
		<div class="city-divider"></div>
	</div>

	<!-- Optional sections for future use:

	<div id="othermonkey"></div>
	<div class="block othermonkey">
		<div class="wrapper">
			(% include_relative section-beer.md %)
		</div>
	</div>

	<div id="lightsaber-training"></div>
	<div class="block base-fade lightsaber-training">
		<div class="wrapper">
			(% include_relative section-lightsaber-training.md %)
		</div>
	</div>

	<div id="map"></div>
	<div class="block map">
		<div class="wrapper">
			(% include_relative section-map.md %)
		</div>
	</div>

	<div id="meet-your-heroes"></div>
	<div class="block meet-heroes">
		<div class="fade">
			<div class="wrapper">
				(% include_relative section-heroes.md %)
			</div>
		</div>
	</div>

	<div id="firstsite"></div>
	<div class="block firstsite">
		(% include_relative section-firstsite.md %)
	</div>

	<div id="poster-print"></div>
	<div class="block poster-print">
		<div class="wrapper">
			(% include_relative section-poster-print.md %)
		</div>
	</div>

	<div id="soon"></div>
	<div class="block coming-soon base-fade">
		<div class="wrapper">
			(% include_relative section-coming-soon.md %)
		</div>
	</div>

	<div id="justgiving"></div>
	<div class="block justgiving">
		<div class="wrapper">
			(% include_relative section-justgiving.md %)
		</div>
	</div>

	<div class="block charities">
		<div class="wrapper">
			(% include_relative section-charities.md %)
		</div>
	</div>

	-->

</div>